<div class="container" style="float:right !important">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>פגישות</h2></div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 160px !important;">התחלת פגישה</th>
                    <th style="width: 120px !important;">סיום פגישה</th>
                    <th style="width: 160px !important;">חדר</th>
                    <th style="width: 50px !important;">תאור פגישה</th>
                    <th style="width: 50px !important;">סוג הפגישה</th>
                  
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let d of dairy">
                    <td >{{d.start|date:'dd/MM/yy hh:mm'}}</td>
                    <td>{{d.end|date:'dd/MM/yy hh:mm'}}</td>
                    <td>{{d.rooms.roomName}}</td>
                    <td>{{d.description}}</td>
                    <td>{{d.typeMeeting1.description}}</td>
                    
                    
                </tr>
          
            </tbody>
        </table>
    </div>
  </div>  
  
<!-- <button (click)="UserService.return()">return</button>
<p><a  class="btn btn-block btn-primary" (click)="chart()">סטטיסטיקות</a></p> -->

