
    <div class="container">
       <div class="Back">
            <i class="fa fa-arrow-left" (click)="UserService.return()"></i>
        </div>
        <p class="h2 text-center">Form</p>
        <form action="" method="post">
            <div class="preview text-center">
                <img class="preview-img" [src]="imgURL"  *ngIf="imgURL"width="200" height="200" alt="Preview Image"/>
                <div class="browse-button">
                    <i class="fa fa-pencil-alt"></i>
                    <input class="browse-input" #file type="file" accept='image/*' required name="UploadedFile" id="UploadedFile" (change)="preview(file.files)"/>
                </div>
                
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label style="direction: ltr !important;">Name:</label>
                <input class="form-control" type="text" name="fname" required placeholder="Enter First Name" [(ngModel)]="user.userName"/>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Tel:</label>
                <input class="form-control" type="text" name="tel" required placeholder="Enter Tel" [(ngModel)]="user.tel"/>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" type="email" name="email" required placeholder="Enter Email" [(ngModel)]="user.email"/>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input class="form-control" type="password" name="password" required placeholder="Enter Password" [(ngModel)]="user.password"/>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <label>Type User:</label>
                <!-- <input class="form-control" type="text" name="typeuser" required placeholder="Type User" [(ngModel)]="user.typeUser1.typeName"/>
                <span class="Error"></span> -->
                <select  class="form-control" type="text" name="kupa" required placeholder="Enter Type User" [(ngModel)]="user.typeUser
                "name="myselect">
                  <option *ngFor="let type of typeUser" [ngValue]="type.typeId">{{type.typeName}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Gender:</label><br/>
                <label><input type="radio" name="gender" required value="Male" checked /> Male</label>
                <label><input type="radio" name="gender" required value="Female" /> Female</label>
                <label><input type="radio" name="gender" required value="Other" /> Other</label>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" value="Submit" (click)="add()"/>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



