
    <div class="container">
       <div class="Back">
            <i class="fa fa-arrow-left" (click)="UserService.return()"></i>
        </div>
        <p class="h2 text-center">טופס משתמש חדש:</p>
        <form action="" method="post" #myForm="ngForm">
            <div class="preview text-center">
                <img class="preview-img" [src]="imgURL"  *ngIf="imgURL"width="200" height="200" alt="Preview Image"/>
                <div class="browse-button">
                    <i class="fa fa-pencil-alt"></i>
                    <input class="browse-input" #file type="file" accept='image/*' required name="UploadedFile" id="UploadedFile" (change)="preview(file.files)"/>
                </div>
                
                <span class="Error"></span>

            </div>
            <div style="direction: rtl !important;text-align: right;" class="form-group">
                <label>שם:</label>
                <input class="form-control" type="text" name="fname" required placeholder="הכנס שם" [(ngModel)]="user.userName" #firstName="ngModel" [ngClass]="{ 'is-invalid': firstName.invalid&&firstName.touched }" required />
                <span class="Error"></span>
                <div *ngIf="firstName.invalid&& (firstName.touched)" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">זהו שדה נדרש</div>
            </div>
            
            <div class="form-group">
                <label>טלפון:</label>
                <input class="form-control" type="text" name="tel" required placeholder="הקש מספר טלפון" [(ngModel)]="user.tel"#tel="ngModel" [ngClass]="{ 'is-invalid': tel.invalid&&tel.touched }" required />
                <span class="Error"></span>
                <div *ngIf="tel.invalid&& ( tel.touched)" class="invalid-feedback">
                    <div *ngIf="password.errors.required">זהו שדה נדרש</div>
            </div>
            <div class="form-group">
                <label>אימייל:</label>
                <input class="form-control" type="email" name="email" required placeholder="הכנס כתובת מייל" [(ngModel)]="user.email" #email="ngModel" [ngClass]="{ 'is-invalid': email.invalid&&email.touched }" required email />
                <span class="Error"></span>
                <div *ngIf=" email.invalid&& email.touched" class="invalid-feedback">
                    <div *ngIf="email.errors.required">זהו שדה נדרש</div>
                    <div *ngIf="email.errors.email">כתובת מייל חיבת להיות תקפה</div>
            </div>
            <div class="form-group">
                <label>סיסמא:</label>
                <input class="form-control" type="password" name="password" required placeholder="הקש סיסמא" [(ngModel)]="user.password"  #password="ngModel" [ngClass]="{ 'is-invalid': password.invalid&&password.touched }" required minlength="6"/>
                <span class="Error"></span>
                <div *ngIf="password.invalid&& password.touched" class="invalid-feedback">
                    <div *ngIf="password.errors.required">זהו שדה נדרש</div>
                    <div *ngIf="password.errors.minlength">סיסמא חיבת להכיל לפחות 6 תוים</div>
                    
            </div>
            <div class="form-group">
                <label>סוג משתמש:</label>
                <!-- <input class="form-control" type="text" name="typeuser" required placeholder="Type User" [(ngModel)]="user.typeUser1.typeName"/>
                <span class="Error"></span> -->
                <select  #typeUser="ngModel" [ngClass]="{ 'is-invalid': typeUser.invalid &&typeUser.touched}" required  class="form-control" type="text" name="kupa" required placeholder="Enter Type User" [(ngModel)]="user.typeUser
                "name="myselect">
                  <option *ngFor="let type of typeUser" [ngValue]="type.typeId">{{type.typeName}}</option>
                </select>
                <div *ngIf="typeUser.invalid&& ( typeUser.touched)" class="invalid-feedback">
                    <div *ngIf="firstName.errors.required">זהו שדה נדרש</div>
            </div>
            <div class="form-group">
                <label>מין:</label><br/>
                <label><input type="radio" name="gender" required value="male" checked /> זכר</label>
                <label><input type="radio" name="gender" required value="female" />נקבה </label>
                <label><input type="radio" name="gender" required value="other" /> אחר</label>
                <span class="Error"></span>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-block" type="submit" [disabled]="myForm.invalid" value="אישור" (click)="add()"/>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



