<div style="left:10% !important; top:5% !important">
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="search">
                            <input type="text" style="direction: ltr !important;" class="form-control input-sm"
                                maxlength="64" placeholder="חיפוש" [(ngModel)]="inputText" />
                            <button type="submit" class="btn btn-primary btn-sm" (click)="search()">חיפוש</button>
                        </div>
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <div class="">
                            <div class="row">
                                <div class="col-sm-8" style="right: 5% !important;">
                                    <h2>אנשי מקצוע</h2>
                                </div>
                                <div style="right:20% !important;" class="col-sm-4">
                                    <button type="button" style="border-radius: 30px;" class="btn btn-info add-new" (click)="create()"><i
                                            class="fa fa-plus"></i> הוסף חדש</button>
                                </div>
                            </div>
                        </div>
                        <table style="margin:auto" class=" table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 50px !important;">שם</th>
                                    <th style="width: 50px !important;">סוג מטופל</th>
                                    <th style="width: 60px !important;">טלפון</th>
                                    <th style="width: 60px !important;"> טלפון נוסף</th>
                                    <th style="width: 90px !important;">מייל</th>
                                    <th style="width: 70px !important;">כתובת אישית</th>
                                    <th style="width: 70px !important;">כתובת מרפאה</th>
                                    <th style="width: 50px !important;">תואר</th>
                                    <th style="width: 40px !important;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of professions">
                                    <td>{{p.profName}}</td>
                                    <td>{{p.typeProfessions.nameprofession}}</td>
                                    <td>{{p.tel}}</td>
                                    <td>{{p.addTel}}</td>
                                    <td>{{p.email}}</td>
                                    <td>{{p.privateAddres}}</td>
                                    <td>{{p.clinicAddres}}</td>
                                    <td>{{p.subdomain1.subdomainName}}</td>

                                    <!-- <td *ngIf="p.typeProfessions">{{p.typeProfessions.nameprofession}}</td> -->

                                    <td>
                                        <a class="add" title="Add" data-toggle="tooltip"><i
                                                class="material-icons"></i></a>
                                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons"
                                                (click)="openModal(p)"> </i></a>
                                        <a class="delete" title="Delete" data-toggle="tooltip"
                                            (click)="deleteprofession(p.profId)"><i class="material-icons"></i></a>
                                        <img id="a" title="List Reference" src="./assets/img/iconlist.png"
                                            (click)="openModalref(p)">
                                        <img id="a" title="opinion" src="./assets/img/opinion.svg"
                                            (click)="openModalopinion(p)">
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>