
 <input type="text" [(ngModel)]="inputText" (keyup)="search()" >  
 <input type="button" value="לחיפוש" (click)=" getProfById()">
 <div class="container">
  <div class="table-wrapper">
      <div class="table-title">
          <div class="row">
              <div class="col-sm-8"><h2>Profession <b>Details</b></h2></div>
              <div class="col-sm-4">
                  <button type="button" class="btn btn-info add-new" (click)="create()"><i class="fa fa-plus" ></i> Add New</button>
              </div>
          </div>
      </div>
      <table class="table table-bordered">
          <thead>
              <tr >
                  <th style="width: 100px !important;">שם</th>
                  <th style="width: 70px !important;">סוג מטופלים</th>
                  
                  <th style="width: 110px !important;">טלפון</th>
                  <th style="width: 110px !important;"> טלפון נוסף</th>
                  <th style="width: 160px !important;">מייל</th>
                  <th style="width: 100px !important;">כתובת אישית</th>
                  <th style="width: 100px !important;">כתובת מרפאה</th>
                  <th style="width: 60px !important;">תואר</th>
                  
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let p of professions" >
                  <td >{{p.profName}}</td>
                  <td >{{p.typeProfessions.nameprofession}}</td>
                  <td >{{p.tel}}</td>
                  <td >{{p.addTel}}</td>
                  <td >{{p.email}}</td>
                  <td >{{p.privateAddres}}</td>
                  <td >{{p.clinicAddres}}</td>
                  <td >{{p.subdomain1.subdomainName}}</td>
                  
                  <!-- <td *ngIf="p.typeProfessions">{{p.typeProfessions.nameprofession}}</td> -->
                  
                 <td>
        <a  class="add" title="Add" data-toggle="tooltip" ><i class="material-icons" ></i></a>
                      <a class="edit" title="Edit" data-toggle="tooltip" ><i class="material-icons" (click)="openModal(p)"> </i></a>
                      <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteprofession(p.profId)"><i class="material-icons"></i></a>
                      <img id="a" title="List Reference" src="./assets/img/iconlist.png" (click)="openModalref(p)"> 
                      <img id="a"  title="opinion" src="./assets/img/opinion.svg" (click)="openModalopinion(p)"> 
                 </td>
              </tr>
            
          </tbody>
      </table>
  </div>
</div>    

<button (click)="UserService.return()">return</button>

<img id="aa" src="./assets/img/logo1.png" > 

