
<div>
    <form >
      <label for="fname" >תאריך</label>
      <input type="text" id="date" name="date"  [(ngModel)]="reference.date">
  
      <label for="type" >תאור הפניה</label>
      <input type="text" id="description" name= "description"  [(ngModel)]="reference.description">

    
      <label for="type" >תאריך לידה</label>
      <input type="date" id="bornDate" name="bornDate"  [(ngModel)]="reference.bornDate">
      
      <label for="type" >האם טופל</label>
      <input type="text" id="isCare" name="isCare"  [(ngModel)]="reference.isCare">
      
      
      <label for="type" >שם פרטי משתמש</label>
      <input type="text" id="userFname" name="userFname"  [(ngModel)]="reference.users.userFname">
      
      <label for="type" >שם משפחה משתמש</label>
      <input type="text" id="userLname" name="userLname"  [(ngModel)]="reference.users.userLname">
      
      <label for="type" >סוג בעל מקצוע</label>
      <input type="text" id="profName" name="profName"  [(ngModel)]="reference.professions.profName">
      
      <label for="type" >סוג הפניה</label>
      <input type="text" id="refname" name="refname"  [(ngModel)]="reference.typeReference.refname">
      
      <label for="ClinicAddres" >המלצות</label>
      <input type="text" id="recommendation" name="recommendation"  [(ngModel)]="reference.recommendation">
      
      <input type="submit" value="להוספה"  value="Submit" (click)="add()">
    </form>
  </div>
  