
<div>
    <form >
      <label for="fname" >תאריך</label><br>
      <input  class="form-control" type="date" id="date" name="date"  [(ngModel)]="reference.date"><br>
  
      <label for="type" >תאור הפניה</label>
      <input  class="form-control" type="button" id="description" name= "description"   data-toggle="modal" data-target="#exampleModal" [(ngModel)]="reference.description">
      <div >
        
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Modal center</button> -->
          </div>
    
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">תיאור הפניה</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <label for="type" >תאור הפניה</label>
      <input style="width:50%;height: 30%S;" class="form-control" type="text" id="description" name= "description"  [(ngModel)]="reference.description">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    
      <label for="type" >תאריך לידה</label><br>
      <input class="form-control" type="date" id="bornDate" name="bornDate"  [(ngModel)]="reference.bornDate"><br>
      
      <label for="type" >האם טופל</label>
      <select  type="text" id="isCare" name="isCare" [(ngModel)]="reference.isCare">
        <option value="">true</option>
        <option value="1">false</option>
        </select>
      
      <label for="type" > משתמש</label>
      <select    placeholder="Enter Name" [(ngModel)]="reference.userName
              "name="myselect">
                <option *ngFor="let type of user" [ngValue]="type.userId">{{type.userName}}</option>
              </select>
      <!-- <input  class="form-control" type="text" id="userFname" name="userFname"  [(ngModel)]="reference.users.userName"> -->
      
      
      <label for="type" >איש מקצוע</label>
      <select    placeholder="Enter ProfName" [(ngModel)]="reference.profId
              "name="myselect">
                <option *ngFor="let type of profession" [ngValue]="type.profId">{{type.profName}}</option>
              </select>
      <!-- <input  class="form-control" type="text" id="profName" name="profName"  [(ngModel)]="reference.professions.profName"> -->
      
      <label for="type" >סוג הפניה</label>
      <select placeholder="Enter Type Reference" [(ngModel)]="reference.typeRef
              "name="myselect">
                <option *ngFor="let type of typereference" [ngValue]="type.refId">{{type.refname}}</option>
              </select>
      <!-- <input class="form-control" type="text" id="refname" name="refname"  [(ngModel)]="reference.typeReference.refname"> -->
      
      <label for="ClinicAddres" >המלצות</label>
      <input class="form-control" type="text" id="recommendation" name="recommendation"  [(ngModel)]="reference.recommendation">
      
      <input type="submit" value="להוספה"  value="Submit" (click)="add()">
    </form>
  </div>
  