
  <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>PHP Form</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous"/>
  </head>
  <body>
<div class="container">
    <div class="container">
        <div class="Back">
             <i class="fa fa-arrow-left" (click)="UserService.return()"></i>
         </div>
    <p class="h2 text-center">Form</p>
    <form action="" method="post">
        <div class="preview text-center">
            <img class="preview-img" [src]="imgURL"  *ngIf="imgURL"width="200" height="200" alt="Preview Image"/>
            <div class="browse-button">
                <i class="fa fa-pencil-alt"></i>
                <input class="browse-input" #file type="file" accept='image/*' required name="UploadedFile" id="UploadedFile" (change)="preview(file.files)"/>
            </div>
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Full Name:</label>
            <input class="form-control" type="text" name="fname" required placeholder="Enter Full Name"
                [(ngModel)]="profession.profName" />
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Subdomain:</label>
            <input class="form-control" type="text" name="subdomain" required placeholder="Designation"
                [(ngModel)]="profession.subdomain" />
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Type:</label> 
            <!-- <input class="form-control" type="number" name="type" required placeholder="Enter Type"
                [(ngModel)]="profession.type" />
            <span class="Error"></span> -->
              <select  class="form-control"  placeholder="Enter Type" [(ngModel)]="profession.type
              "name="myselect">
                <option *ngFor="let type of typeprofessions" [ngValue]="type.professionId">{{type.nameprofession}}</option>
              </select>
        </div>
        
         <!-- <div class="form-group">
            <label>Kupa:</label>
         
            <input class="form-control" type="text" name="kupa" required placeholder="Kupa"
            [(ngModel)]="profession.kupot" />
             <span class="Error"></span>
             <select  class="form-control" type="text" name="kupa" required placeholder="Enter Kupa" [(ngModel)]="profession.kupot
              "name="myselect">
                <option *ngFor="let type of Kupot11" [ngValue]="type">{{type.kupaName}}</option>
              </select>
        </div>  -->
        <div class="form-group">
            
            <label>Tel:</label>
            <input class="form-control" type="text" name="tel" required placeholder="Enter Tel"
                [(ngModel)]="profession.tel" />
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Add Tel:</label>
            <input class="form-control" type="text" name="addtel" required placeholder="Enter AddTel"
                [(ngModel)]="profession.addTel" />
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" type="email" name="email" required placeholder="Enter Email"
                [(ngModel)]="profession.email" />
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Private Address:</label>
            <input class="form-control" type="text" name="privateaddress" required placeholder="Enter Private address"
                [(ngModel)]="profession.privateAddres" />
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Clinic Address:</label>
            <input class="form-control" type="text" name="clinicaddress" required placeholder="Enter Clinic Address"
                [(ngModel)]="profession.clinicAddres" />
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Private Opinion:</label>
            <input class="form-control" type="text" name="privateOpinion" required
                placeholder="Enter Your Private Opinion" [(ngModel)]="profession.privateOpinion" />
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <label>Gender:</label><br />
            <label><input type="radio" name="gender" required value="Male" checked /> Male</label>
            <label><input type="radio" name="gender" required value="Female" /> Female</label>
            <label><input type="radio" name="gender" required value="Other" /> Other</label>
            <span class="Error"></span>
        </div>
        <div class="form-group">
            <input class="btn btn-primary btn-block" type="submit" value="Submit" (click)="createnew()" />
        </div>
    </form>
</div>