
<div  class="container">
   
    <div style="top:50% !important" class="row">
        <div  class="col-sm-4 py-2" >
            <div  style="border-width:3px !important; border-color:crimson !important; " class="card h-100 card-body">
                    <h3 class="card-title">פניות</h3>
                    <p class="card-text"></p>
                    <a href="#" style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary" routerLink="/referencebuttons">כניסה</a>
                
            </div>
        </div>
        
        <div  class="col-sm-4 py-2" >
            <div  style="border-width:3px !important; border-color:crimson !important; " class="card h-100 card-body">
                    <h3 class="card-title">יומנים</h3>
                    <p class="card-text"></p>
                    <a href="#" style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary" routerLink="/dairy">כניסה</a>
                
            </div>
        </div>
        
    </div>
</div>    
