<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>חוות דעת</h2></div>
                <div class="col-sm-4">

                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 160px !important;">איש מקצוע</th>
                    <th style="width: 120px !important;">חוות דעת</th>
                    <th style="width: 160px !important;">תאריך</th>
                    <th style="width: 50px !important;">ציון</th>
                  
                    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let o of opinions">
                    <td >{{o.profession.profName}}</td>
                    <td>{{o.description}}</td>
                    <td>{{o.date|date:'dd/MM/yy'}}</td>
                    <td>{{o.mark}}</td>
                </tr>
          
            </tbody>
        </table>
    </div>
  </div>  
  
<!-- <button (click)="UserService.return()">return</button>
<p><a  class="btn btn-block btn-primary" (click)="chart()">סטטיסטיקות</a></p> -->
