
<div class="container">
   
    <div class="row">
        <div  class="col-sm-4 py-2" >
            <div  style="border-width:3px !important; border-color:crimson !important; " class="card h-100 card-body">
                    <h3 class="card-title">התפלגות תחומים</h3>
                    <p class="card-text"></p>
                    <a href="#" style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary" routerLink="/subchart">כניסה</a>
                
            </div>
        </div>
        <div  class="col-sm-4 py-2" >
            <div  style="border-width:3px !important; border-color:crimson !important; " class="card h-100 card-body">
                    <h3 class="card-title">התפלגות פניות בטיפול</h3>
                    <p class="card-text"></p>
                    <a href="#" style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary" routerLink="/gracchart">כניסה</a>
            </div>
        </div>
        
    </div>
</div>
<button style="position:absolute !important; top:0% !important; right: 0% !important;" class="btn btn-primary float-right" (click)="UserService.return()">
    return
</button>  
