<div>
    <label for="title" >כותרת</label>
    <input class="form-control" type="text" id="title" name="title"  [(ngModel)]="dairy.title">

    <label for="start" >שעת התחלה</label>
    <input type="text" id="start" name="start"  [(ngModel)]="dairy.start">

    <label for="end" >שעת סיום</label>
    <input type="text" id="end" name="end" (mouseup)="getroomlist()" [(ngModel)]="dairy.end">

    <label for="typeMeeting" >סוג פגישה</label>
    <select placeholder="Enter Type Reference" [(ngModel)]="dairy.typeMeeting
    "name="myselect">
      <option *ngFor="let type of typeMeeting" [ngValue]="type.meetingId">{{type.description}}</option>
    </select>

    <label for="userId" >שם עובד</label>
    <select    placeholder="Enter Name" [(ngModel)]="dairy.userId
    "name="myselect">
      <option *ngFor="let type of user" [ngValue]="type.userId">{{type.userName}}</option>
    </select>

    <label for="roomId" (click)="getroomlist()">חדר</label>
    <select  [(ngModel)]="dairy.roomId
              "name="myselect" >
                <option *ngFor="let room of roomslist" [ngValue]="room.roomId"  >{{room.roomName}} </option>
              </select>

    <label for="description" >תאור הפניה</label>
    <input type="text" id="description" name="description"  [(ngModel)]="dairy.description">

   

    <input type="submit" value="אישור" (click)="addNew()">
  
</div>
