<p>newdairy works!</p>
<div>
    <label for="lname" >כותרת</label>
    <input class="form-control" type="text" id="date" name="date"  [(ngModel)]="dairy.title">

    <label for="fname" >שעת התחלה</label>
    <input type="text" id="description" name="description"  [(ngModel)]="dairy.start">

    <label for="Tel" >שעת סיום</label>
    <input type="text" id="bornDate" name="bornDate"  [(ngModel)]="dairy.end">

    <label for="mail" >סוג פגישה</label>
    <input type="text" id="isCare" name="isCare"  [(ngModel)]="dairy.typeMeeting1.description">

    <label for="password" >שם עובד</label>
    <input type="text" id="userName" name="userName"  [(ngModel)]="dairy.user.userFname">

    <label for="tuser" >חדר</label>
    <input type="text" id="profId" name="profId"  [(ngModel)]="dairy.rooms.roomName">

    <label for="tuser" >תאור הפניה</label>
    <input type="text" id="typeRef" name="typeRef"  [(ngModel)]="dairy.description">

   

    <input type="submit" value="אישור" >
  
</div>
