
<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>User <b>Details</b></h2></div>
                <div class="col-sm-4">
                    <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
                <tr >
                    <th>שם פרטי</th>
                    <th>שם משפחה</th>
                    <th>טלפון</th>
                    <th>מייל</th>
                    <th>סוג משתמש</th> 
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of users">
                    <td>{{u.userFname}}</td>
                    <td>{{u.userLname}}</td>
                    <td>{{u.tel}}</td>
                    <td>{{u.email}}</td>
                    <td>{{u.typeUser}}</td>
                    <td>
          <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons"></i></a>
                        <a class="edit" title="Edit" data-toggle="tooltip"><i class="material-icons" (click)="next(u)"> </i></a>
                        <a class="delete" title="Delete" data-toggle="tooltip" (click)="deleteUser(user.userId)"><i class="material-icons"></i></a>
                    </td>
                </tr>
          
            </tbody>
        </table>
    </div>
  </div>    