
<div>
    <form >
      <label for="fname" >שם</label>
      <input type="text" id="fname" name="name"  [(ngModel)]="profession.profName">
  
      <label for="type" >תואר</label>
      <input type="text" id="lname" name= "Subdomain"  [(ngModel)]="profession.subdomain">

    
      <label for="type" >תחום</label>
      <input type="text" id="lname" name=" Type"  [(ngModel)]="profession.type">
      
      <!-- <label for="type" >קופה</label>
      <input type="text" id="lname" name=" Kupa"  [(ngModel)]="profession.kupot.kupaName">
       -->
      
      <label for="type" >טלפון</label>
      <input type="text" id="lname" name=" Tel"  [(ngModel)]="profession.tel">
      
      <label for="type" >טלפון נוסף</label>
      <input type="text" id="lname" name=" AddTel"  [(ngModel)]="profession.addTel">
      
      <label for="type" >מייל</label>
      <input type="text" id="lname" name="Email"  [(ngModel)]="profession.email">
      
      <label for="type" >כתובת אישית</label>
      <input type="text" id="lname" name="PrivateAddres"  [(ngModel)]="profession.privateAddres">
      
      <label for="ClinicAddres" >כתובת מרפאה</label>
      <input type="text" id="lname" name="ClinicAddres"  [(ngModel)]="profession.clinicAddres">
      
      <label for="PrivateOpinion" >חוות דעת</label>
      <input type="text" id="lname" name="PrivateOpinion"  [(ngModel)]="profession.privateOpinion">
      
      <!-- <label for="ClinicAddres" >xfdkdljabה</label>
      <input type="text" id="lname" name="ClinicAddres"  [(ngModel)]="profession.typeprofession.nameprofession"> -->
      <input type="submit" value="עדכן" (click)="updateprofession()">
    </form>
  </div>
  