
<div class="container">
   
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <h3 class="card-title">חדרים</h3>
                
                <a href="#" class="btn btn-outline-light" routerLink="/rooms">Outline</a>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 text-white bg-danger">
                <div class="card-body">
                    <h3 class="card-title">יומנים</h3>
                    
                    <a href="#" class="btn btn-outline-light" routerLink="/dairy">Outline</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 card-body">
                <h3 class="card-title">פניות</h3>
                <p class="card-text"></p>
                <a href="#"  class="btn btn-outline-secondary" routerLink="/dairy">Outline</a>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h3 class="card-title">אנשי מקצוע</h3>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-outline-secondary"  routerLink="/professions">Outline</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 card-body">
                <h3 class="card-title">סטטיסטיקות</h3>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h3 class="card-title">משתמשים</h3>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-outline-light" routerLink="/usersbuttons">Outline</a>
                </div>
            </div>
        </div>
    </div>
</div>