
<!-- <div class="container">
    <h1 id="a">תפריט</h1>
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100" routerLink="/dairy">
                יומנים
            </div>
        </div>
        <div class="col-sm-4 py-2" >
            <div class="card text-red bg-primary">
                <div class="card-body" >
                    <h3 class="card-title">חדרים</h3>
                    <p class="card-text">
                        
                    </p>
                 
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2" routerLink="/reference">
            <div class="card h-100 card-body" >
               פניות
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body"  routerLink="/professions">
                   בעלי מקצוע
                   
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2" >
            <div class="card h-100 card-body" routerLink="/usersbuttons">
                משתמשים
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h3 class="card-title">Hello</h3>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- 
<div class="container">
	<div class="row">
        <div class="col-lg-4">
            <p><a href="#" class="btn btn-block btn-primary" routerLink="/dairy">יומנים</a></p>
            <p><a href="#" class="btn btn-block btn-success" routerLink="/rooms">חדרים</a></p>
            <p><a href="#" class="btn btn-block btn-info" routerLink="/referencebuttons">פניות</a></p>
            <p><a href="#" class="btn btn-block btn-warning" routerLink="/professions">בעלי מקצוע</a></p>
            <p><a href="#" class="btn btn-block btn-danger" routerLink="/usersbuttons">משתמשים</a></p>
        </div>
	</div>
</div>
<button value="logout" class="btn-primary"(click)="Userservice.logout()" >logout</button>
<img id="a" src="./assets/img/logo1.png" >  -->
<div class="container">
    <h5>Bootstrap 4 Equal Height Cards using Grid</h5>
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <h3 class="card-title">חדרים</h3>
                <p class="card-text">רשימת חדרים</p>
                <a href="#" class="btn btn-outline-light" routerLink="/rooms">Outline</a>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 text-white bg-danger">
                <div class="card-body">
                    <h3 class="card-title">יומנים</h3>
                    <p class="card-text">לצפיה בכל יומני.</p>
                    <a href="#" class="btn btn-outline-light" routerLink="/dairy">Outline</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 card-body">
                <h3 class="card-title">פניות</h3>
                <p class="card-text"></p>
                <a href="#" class="btn btn-outline-light" routerLink="/dairy">Outline</a>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 border-primary">
                <div class="card-body">
                    <h3 class="card-title">אנשי מקצוע</h3>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-outline-secondary"  routerLink="/professions">Outline</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card h-100 card-body">
                Card. I'm just a simple card-block.
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card text-white bg-primary">
                <div class="card-body">
                    <h3 class="card-title">משתמשים</h3>
                    <p class="card-text"></p>
                    <a href="#" class="btn btn-outline-light" routerLink="/usersbuttons">Outline</a>
                </div>
            </div>
        </div>
    </div>
</div>