
<div class="container">
   
    <div class="row">
        <div class="col-sm-4 py-2">
            <div style="border-width:3px !important; border-color:crimson !important; "class="card h-100 card-body">
                <h3 style="direction: rtl !important;" class="card-title">חדרים</h3>
                
                <a href="#" style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary" routerLink="/rooms">כניסה</a>
            </div>
        </div>
        <div  class="col-sm-4 py-2" >
            <div  style="border-width:3px !important; border-color:crimson !important; " class="card h-100 card-body">
                    <h3 class="card-title">יומנים</h3>
                    <p class="card-text"></p>
                    <a href="#" style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary" routerLink="/dairy">כניסה</a>
                
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div style="border-width:3px !important; border-color:crimson !important; " class="card h-100 card-body">
                <h3 class="card-title">פניות</h3>
                <p class="card-text"></p>
                <a href="#" style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary" routerLink="/referencebuttons">כניסה</a>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div style=" border-width:3px !important; border-color:crimson !important;"  class="card h-100 card-body">     
                    <h3 class="card-title">אנשי מקצוע</h3>
                    <p class="card-text"></p>
                    <a href="#"style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary"  routerLink="/professions">כניסה</a>
                </div>
            </div>
        
        <div class="col-sm-4 py-2">
            <div style="border-width:3px !important; border-color:crimson !important; "  class="card h-100 card-body">
                <h3 class="card-title">סטטיסטיקות</h3>
                <p class="card-text"></p>
                    <a href="#"style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary"  routerLink="/chart">כניסה</a>
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div style="border-width:3px !important; border-color:crimson !important;"  class="card h-100 card-body">
                    <h3 class="card-title">משתמשים</h3>
                    <p class="card-text"></p>
                    <a href="#"style="background-color:rgb(68, 134, 255) !important;" class="btn btn-outline-secondary"  routerLink="/usersbuttons">כניסה</a>
                </div>
            </div>
    </div>
</div>    
