<div>
    
  
      <label for="lname" >שם</label>
      <input type="text" id="lname" name="lname"  [(ngModel)]="user.userName" >

      <label for="Tel" >טלפון</label>
      <input type="text" id="tel" name="tel"  [(ngModel)]="user.tel">

      <label for="mail" >כתובת מייל</label>
      <input type="text" id="mail" name="mail"  [(ngModel)]="user.email">

      <label for="tuser" >סוג משתמש</label>
      <input type="text" id="lname" name="typeuser"  [(ngModel)]="user.typeUser1.typeName">

      <input type="submit" value="אישור" (click)="updateuser()">
  </div>